Flask==3.1.0
Flask_RESTful==0.3.10
h5py==3.11.0
h5py==3.12.1
huggingface_hub==0.23.0
huggingface_hub==0.27.0
joblib==1.4.2
numpy==2.2.1
opencv_python==4.10.0.84
Pillow==11.0.0
python-dotenv==1.0.1
tensorflow==2.17.0
tensorflow==2.18.0
tensorflow_intel==2.17.0
tensorflow_intel==2.18.0
Werkzeug==3.1.3
